/* ARBEIT SECTION */
#arbeit {
  min-height: 100vh;
  width: 100%;

  position: fixed;
  z-index: -1;

  padding-left: 122px;

  display: flex;
  flex-direction: row;
}

#arbeit .arbeitContainer {
  width: 50%;

  padding: 40px 40px 40px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 2 divs */
#arbeit .arbeitContainer > div {
  margin: 0;
  padding: 30px;

  width: 100%;
  height: 50%;

  background-color: rgba(31, 22, 22, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 25px;

  outline: 2px solid rgba(124, 124, 124, 0.15);

  display: flex;
  flex-direction: column;
}

#arbeit .arbeitContainer img {
  width: 100%;
  height: 32px;
  margin-bottom: 16px;
  text-align: center;
}

#arbeit .arbeitContainer h3 {
  margin-bottom: 24px;
  text-align: center;
}

/* button navigation */
.arbeitContainer nav {
  margin-top: auto;
  flex-direction: row;
}

.arbeitContainer button {
  border: none;
  border-radius: 5px;

  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(31, 22, 22, 0.5);
  outline: 1px solid rgba(124, 124, 124, 0.15);

  cursor: pointer;

  padding: 3px;
  margin: 0 3px 0 3px;

  transition: outline 0.18s ease-out;
}

.arbeitContainer button:hover {
  outline: 1px solid rgba(124, 124, 124, 0.7);
}

.arbeitContainer button.active {
  outline: 1px solid rgba(124, 124, 124, 0.7);
}

/* arbeit liste urkunden kategorien */
.arbeitListe {
  width: 100%;
}

.arbeitListe > div {
  display: none;
  overflow-y: auto;
  max-height: 250px;
}

.arbeitListe > div > div {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.arbeitListe > div > div p {
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: large;
}

.arbeitListe > div > div p:nth-child(1) {
  margin-right: auto;
}
