#archivButton {
  position: fixed;
  bottom: 30px;
  left: calc(50%);
  translate: -50%;

  z-index: 0;

  padding: 18px 26px;
  border-radius: 50px;

  color: white;
  background-color: rgba(31, 22, 22, 0.5);
  outline: 2px solid rgba(124, 124, 124, 0.15);

  text-decoration: none;

  transition: transform 0.12s ease;
}

#archivButton:hover {
  transform: scale(1.05);
}

/* ARCHIV SECTION */
#archiv {
  margin-top: 100vh;
  min-height: 100vh;

  background-color: rgb(37, 27, 27);
  /* background-color: rgba(31, 22, 22, 0.5);
  backdrop-filter: blur(20px); */

  border-top: 1px solid rgba(255, 255, 255, 0.5);

  position: relative;
  /* z-index: 50; */
}

#table {
  padding-left: 122px;
  padding-right: 10px;
}

#tableHead {
  width: 100%;
  height: 100px;

  position: sticky;
  top: 0;

  background-color: rgb(37, 27, 27);

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#tableHead div {
  display: flex;
  flex-direction: row;

  padding-top: 60px;

  font-size: large;
}

#tableBody div > *,
#tableHead div > * {
  color: rgba(255, 255, 255, 0.5);

  margin: 0;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  overflow: hidden;
}

/* ARCHIV table head columns */
#tableHead div p:nth-child(1) {
  margin-right: auto;
}

#tableHead div p:nth-child(2) {
  width: 350px;
}

#tableHead div p:nth-child(3) {
  min-width: 80px;
}

#tableHead div p:nth-child(4) {
  min-width: 50px;
}

#tableHead div p:nth-child(5) {
  min-width: 60px;
}

/* ARCHIV table body columns */
#tableBody {
}

#tableBody div:nth-child(1) {
  border-top: none;
}

#tableBody div {
  height: 70px;

  border-top: 1px solid rgba(255, 255, 255, 0.5);

  display: flex;
  flex-direction: row;
}

/* ARCHIV table body columns */
#tableBody div a:nth-child(1) {
  color: white;
  margin-right: auto;

  text-decoration: none;
}

#tableBody div a:nth-child(1):hover {
  text-decoration: underline white 2px;
}

#tableBody div p:nth-child(2) {
  width: 350px;
}

#tableBody div p:nth-child(3) {
  min-width: 80px;
}

#tableBody div p:nth-child(4) {
  min-width: 50px;
}

#tableBody div p:nth-child(5) {
  min-width: 60px;
}

/* ARCHIV hover images */
#flying-div {
  position: fixed;
  border-radius: 20px;
  pointer-events: none;

  width: 300px; /* auto change this */
  height: 400px;

  z-index: 100;
  transform: translate(15px, 15px);
  transition: opacity 0.2s ease, scale 0.2s ease, transform 0.2s,
    width 0.2s ease;

  overflow: hidden;
}

.hide {
  opacity: 0;
  scale: 0.6;

  transform: scale(0.5) translate(-21.43%, -21.43%);
  transform-origin: top left;
}

#slides {
  position: absolute;
  translate: 0 0; /* auto change this */

  transition: translate 0.5s ease;

  display: flex;
  flex-direction: row;

  /* outline: solid rgb(0, 0, 0) 2px; */
}

#slides li {
  position: relative;

  height: 400px;
  list-style: none;
}

#slides li img {
  height: 400px;
}
