@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

:root {
  --c-text: #ffffff;
  --c-background: rgba(22, 3, 24);
  --c-primary: #ff4200;
  --c-secondary: #670700;
  --c-accent: #ff9b00;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 24px;

  color: var(--c-text);
  background-color: var(--c-background);

  margin: 0;
  padding: 0;

  height: 100vh;
  margin: 0rem;
  overscroll-behavior-y: none;
  overflow-x: hidden;

  touch-action: manipulation;
}

img {
  user-drag: none; /* Standard */
  -webkit-user-drag: none; /* Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  pointer-events: none; /* Prevent pointer events */
}

/* - - - MENUWRAP - - - */
#mobileMenuButton {
  display: none;
}

#menuwrap {
  z-index: 998;
  position: fixed;

  bottom: 60px;
  left: 66px;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  top: 0;
  left: 0;
  margin: 0 0 0 30px;
}

#menuwrap #wrapBackground {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 64px;
  height: 221px;

  transition: width 0.3s ease;
}

#menuwrap #wrapBackground.active {
  width: 300px;
}

/* - - - MENUBAR - - - */
#menubar {
  z-index: 999;
  position: fixed;

  background-color: rgb(49, 49, 49);
  filter: contrast(5);
  mix-blend-mode: lighten;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  top: 0;
  left: 0;
  margin: 0 0 0 30px;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

#menubar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* gap: 20px; */

  transition: width 0.3s ease;
}

#menubar nav a {
  color: var(--c-text);
  text-decoration: none;
  margin-left: 0;

  display: inline-flex;
  white-space: nowrap;

  height: 35px;
}

#menubar nav a div {
  width: 29px;
  height: 29px;
  /* height: 100%; */

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: calc(var(--base-line-offset) * 1.5);

  transition: filter 0.3s ease;
}

#menubar nav a div img {
  height: 29px;
}

@media (hover: hover) {
  #menubar nav a:hover div {
    -webkit-backdrop-filter: blur(2px);
    filter: blur(2px);
  }
}

#menubar nav a p {
  font-size: 24px;

  text-decoration: none;
}

@media (hover: hover) {
  #menubar nav a p {
    color: rgba(255, 255, 255, 0.6);

    transition: color 0.3s ease;
  }

  #menubar nav:hover a:hover p {
    text-decoration: none;
    color: white;
  }
}

.line-text {
  width: calc(var(--base-line-offset) * 3 + 28px);
  transition: all 0.3s ease;
}

@media (hover: hover) {
  #menubar .line:hover .line-text {
    width: 300px;
  }
}

/* - - - MOBILE MENU - - - */
@media screen and (max-width: 680px) {
  #mobileMenuButton {
    z-index: 1000;
    position: fixed;

    margin: 20px;

    top: 0;
    right: 0;

    display: block;
  }

  #mobileMenuButton .line-text {
    width: auto;
    aspect-ratio: 1;

    padding: 12px;
  }

  #mobileMenuButton .line-text img {
    height: 34px;
  }

  #menuwrap {
    height: 100vh;
    width: 100vw;

    top: 0;
    left: 0;
    margin: 0;

    display: none;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  #menuwrap #wrapBackground {
    width: 300px;
    height: 221px;

    background-color: rgb(20, 20, 20);
    opacity: 0.4;

    transition: none;
  }

  /* - - - MOBILE MENUBAR - - - */
  #menubar {
    height: 100vh;
    width: 100vw;

    margin: 0;

    background-color: transparent;
    filter: none;

    display: none;
  }

  #menubar nav {
    transition: none;
  }

  #menubar nav a div {
    transition: none;
  }

  #menubar nav a p {
    transition: none;
  }

  .line-text {
    transition: none;
    width: 300px;
  }
}

/* - - - - MAIN - - - - */
main {
  position: absolute;
  top: 0;

  width: 100%;

  z-index: 1;

  overflow: hidden;
}
