/* - - - MARQUEE - - - */
.marquee {
  top: 10vh;
  position: absolute;

  width: 600px;
  max-width: 90%;

  height: 15vh;
  min-height: 100px;
  max-height: 150px;

  font-size: clamp(2em, 10vh, 6em);

  display: grid;
  place-items: center;
  overflow: hidden;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

@media screen and (max-width: 680px) {
  .marquee {
    top: 12vh;

    width: 600px;
    max-width: 80%;

    height: 1.6em;
    font-size: 5rem;
  }
}

.marquee_text {
  position: absolute;
  min-width: 100%;
  white-space: nowrap;

  animation: marquee 15s infinite linear;
}

@keyframes marquee {
  from {
    translate: 91%;
  }
  to {
    translate: -91%;
  }
}

.marquee_blur {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;

  background-color: black;
  background-image: linear-gradient(to right, white, 1rem, transparent 50%),
    linear-gradient(to left, white, 1rem, transparent 50%);
  filter: contrast(15);

  mix-blend-mode: lighten;
}

.marquee_blur p {
  filter: blur(0.07em);
}

.marquee_clear {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}

/* - - - IMAGE - - - */
#image {
  position: fixed;
  top: 72%;

  translate: 0 -65%;

  transform-origin: center;

  display: flex;
  justify-content: center;

  z-index: 10;
}

#image img {
  position: relative;

  max-height: 60vh;
  max-width: 70vw;
  /* height: 700px;
  width: 300px; */

  /* max-width: 60vw;
  aspect-ratio: 1.4; */

  outline: rgb(233, 233, 233) solid 4px;
}

#imageText {
  position: fixed;
  bottom: 4px;

  padding: 12px 22px;
  border-radius: 50px;

  color: white;
  background-color: rgba(31, 22, 22, 0.8);
  outline: 2px solid rgba(124, 124, 124, 0.15);

  text-decoration: none;
  text-align: center;
  font-size: 18px;

  transition: transform 0.12s ease;

  backdrop-filter: blur(4px);
}

@media (hover: hover) {
  #imageText:hover {
    transform: scale(1.06);
  }
}

/* @media screen and (max-width: 999px) {
  #imageText {
    position: absolute;
    bottom: -10vh;
  }
} */

@media screen and (max-width: 680px) {
  #image {
    /* top: 35%; */
    top: 60%;
    bottom: auto;
  }

  #image img {
    /* max-height: 65vh; */
    max-width: 80vw;
  }

  #imageText {
    bottom: -90px;
    font-size: 20px;
  }
}
