* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#menuwrap #wrapBackground,
#mobileMenuButton {
  background-color: rgba(0, 0, 0, 0.7);
}

#controlsConatainer {
  z-index: 999;
  position: fixed;
}

#controls {
  z-index: 1000;
  position: fixed;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.7);

  top: 30px;
  left: 30px;
}

#controls .line-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

  width: 110px;

  margin: 0;
  padding: 13px;
}

#controls .line-text div {
  padding: 3px;
  margin: 0;

  height: 36px;
  width: 36px;

  cursor: pointer;
}

#controls .line-text div img {
  height: 29px;
  width: 29px;

  transition: scale 0.2s ease;
}

#controls .line-text div:hover img {
  scale: 1.15;
}

main {
  width: 100%;
  height: 100%;
}

#imageContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  height: auto;
  width: 75%;

  display: grid;
  gap: 0;

  cursor: grab;

  border-radius: 10px;
  border: solid rgba(255, 255, 255, 0.4) 1px;
  overflow: hidden;
  background-color: white;

  transform-origin: center;
  transition: transform 0.3s ease;
}

#imageContainer.dragging {
  transition: none;
}

.tafelImage {
  /* display: block;
  object-fit: cover; */

  width: calc(100% + 1px);
  height: calc(100% + 1px);
  margin: -0.5px;
}
